# Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Train test split

In [2]:
diamonds = pd.read_csv("outcomes/diamonds_dummies.csv")
diamonds.head()

,id,carat,depth,table,x,y,z,price,cut_Fair,cut_Good,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,1.50,61.5,58.0,7.32,7.34,4.51,9.588,0,0,...,0,0,0,0,0,0,0,1,0,0
1,1,2.01,60.6,59.0,8.11,8.25,4.96,9.748,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,0.50,61.6,57.0,5.13,5.09,3.15,7.255,0,0,...,0,0,0,0,1,0,0,0,0,0
3,3,0.25,61.6,57.0,4.05,4.08,2.50,6.450,0,0,...,0,0,0,0,0,0,0,0,0,1
4,4,0.52,62.0,55.0,5.16,5.19,3.21,7.721,0,0,...,0,0,0,0,0,0,0,1,0,0

In [3]:
from sklearn.model_selection import train_test_split
predictors = diamonds.drop(['price'], axis=1)
target = diamonds['price']
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.2)

# First option : Linnear regression 1

Using the cleanead dataset lets try a linnear regression model

In [4]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(X=predictors, y = target)

LinearRegression()

In [5]:
y_pred_test = lr.predict(X_test)
y_pred_train = lr.predict(X_train)

In [6]:
from sklearn.metrics import r2_score

In [7]:
r2_score(y_test,y_pred_test)

0.9792303589351633

In [8]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred_test)

0.021324802916137153

In [ ]:
y_pred = r.predict(X_test)

## Submission

In [9]:
test = pd.read_csv("outcomes/test_dummies.csv")
test.head()

,id,carat,depth,table,x,y,z,cut_Fair,cut_Good,cut_Ideal,...,color_I,color_J,clarity_I1,clarity_IF,clarity_SI1,clarity_SI2,clarity_VS1,clarity_VS2,clarity_VVS1,clarity_VVS2
0,0,0.51,58.3,61.9,5.19,5.20,3.04,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1,1.02,63.0,58.0,6.37,6.43,4.03,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2,0.59,61.9,56.0,5.39,5.34,3.32,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,3,0.90,62.3,56.0,6.14,6.18,3.84,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,4,2.01,60.2,61.0,8.23,8.16,4.93,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [10]:
price_pred_test = lr.predict(test)

In [11]:
price_pred_test[:20]

array([6.98952667, 8.30695765, 7.71810634, 8.43966513, 9.78864209,
       8.40919784, 6.18217374, 9.24089426, 8.73257793, 9.14367834,
       8.36071984, 7.51407319, 9.39228551, 7.86222118, 9.6450837 ,
       7.0451592 , 6.51602387, 6.52199167, 8.60294426, 8.29606818])

In [29]:
submission = pd.DataFrame(price_pred_test)

In [30]:
submission.head()

          0
0  6.989527
1  8.306958
2  7.718106
3  8.439665
4  9.788642

In [31]:
submission.to_csv(r'linear1.csv', index=True)

# Second option

Just in case the cleaned dataset only adds noise, I try to train the model with the original dataset too.

In [15]:
diamonds1 = pd.read_csv("data/train.csv")
diamonds.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.50    Premium     F     VS2   61.5   58.0  7.32  7.34  4.51  9.588
1   1   2.01  Very Good     E     SI2   60.6   59.0  8.11  8.25  4.96  9.748
2   2   0.50      Ideal     E     SI1   61.6   57.0  5.13  5.09  3.15  7.255
3   3   0.25  Very Good     F    VVS2   61.6   57.0  4.05  4.08  2.50  6.450
4   4   0.52      Ideal     G     VS2   62.0   55.0  5.16  5.19  3.21  7.721

In [19]:
diamonds1 = diamonds1.drop(['cut', 'color','clarity'], axis=1)

In [20]:
from sklearn.model_selection import train_test_split
predictors = diamonds1.drop(['price'], axis=1)
target = diamonds1['price']
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.2)

In [21]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(X=predictors, y = target)

LinearRegression()

In [22]:
y_pred_test = lr.predict(X_test)
y_pred_train = lr.predict(X_train)

In [23]:
r2_score(y_test,y_pred_test)

0.9333703739148188

In [24]:
mean_squared_error(y_test, y_pred_test)

0.0693079144814404

The mean squared error is clearly worse so I wont use this model

# Third option

In [26]:
diamonds3 = pd.read_csv("data/train.csv")
diamonds.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.50    Premium     F     VS2   61.5   58.0  7.32  7.34  4.51  9.588
1   1   2.01  Very Good     E     SI2   60.6   59.0  8.11  8.25  4.96  9.748
2   2   0.50      Ideal     E     SI1   61.6   57.0  5.13  5.09  3.15  7.255
3   3   0.25  Very Good     F    VVS2   61.6   57.0  4.05  4.08  2.50  6.450
4   4   0.52      Ideal     G     VS2   62.0   55.0  5.16  5.19  3.21  7.721

In [27]:
diamonds3 = diamonds3.drop(['cut', 'color','clarity','depth','table'], axis=1)

In [28]:
from sklearn.model_selection import train_test_split
predictors = diamonds3.drop(['price'], axis=1)
target = diamonds1['price']
X_train, X_test, y_train, y_test = train_test_split(predictors, target, test_size=0.2)

In [29]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

lr.fit(X=predictors, y = target)

LinearRegression()

In [30]:
y_pred_test = lr.predict(X_test)
y_pred_train = lr.predict(X_train)

In [31]:
r2_score(y_test,y_pred_test)

0.9331711324086939

In [32]:
mean_squared_error(y_test, y_pred_test)

0.06881794976449504

# Fourth option

In [32]:
from sklearn.ensemble import RandomForestRegressor

In [33]:
forest = RandomForestRegressor()

In [35]:
forest.fit(X_train, y_train)

RandomForestRegressor()

In [36]:
y_pred_train = forest.predict(X_train)
y_pred_test = forest.predict(X_test)

In [37]:
mse_train = mean_squared_error(y_pred_train,y_train)
mse_test = mean_squared_error(y_pred_test,y_test)

In [38]:
mse_train, mse_test

(0.001249466432119023, 0.008688375394314666)

## Submission

In [44]:
predictors_total = diamonds.drop(['price'], axis=1)
target_total = diamonds['price']

In [46]:
forest.fit(X = predictors_total, y = target_total)

RandomForestRegressor()

In [47]:
price_forest_test = forest.predict(test)

In [48]:
price_forest_test[:20]

array([7.07835, 8.35141, 7.64651, 8.50678, 9.50182, 8.43059, 6.13842,
       9.22696, 8.86875, 8.91561, 8.46898, 7.54568, 9.29225, 7.92085,
       9.60047, 6.84942, 6.61108, 6.40672, 8.60499, 8.3684 ])

In [49]:
submission2 = pd.DataFrame(price_forest_test)

In [50]:
submission2.head()

         0
0  7.07835
1  8.35141
2  7.64651
3  8.50678
4  9.50182

In [55]:
submission2 = submission2.rename(columns={0:"price"})

In [56]:
submission2.head()

     price
0  7.07835
1  8.35141
2  7.64651
3  8.50678
4  9.50182

In [51]:
submission2.to_csv(r'randomforest.csv', index=True)